.pagination{

    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;

    @media screen and (max-width: 600px) {
        // padding: 0;
        width: 400px;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        display: flex;
        flex-wrap: wrap;
     }

    &_item{

        padding: 0.25rem;

        @media screen and (max-width: 600px) {
            padding: 5px;
            flex-wrap: wrap;
         }

    }

    &_link{
        padding: 1rem;
        background-color: var(--clr-primary-3);
        color: white;
        border: none;
        cursor: pointer;
        transition: var(--transition);
        box-shadow: var(--light-shadow);

        &:hover {
            background-color: var(--clr-primary-2) !important;
            box-shadow: var(--dark-shadow);
        }

        @media screen and (max-width: 600px) {
            display: flex;
            flex-wrap: wrap;
         }

    }
}