
.courses-container {
    display: grid;
    background-color: var(--clr-white);
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;


}
.course {
    margin: 10px;
    padding: 1.2rem;
    text-align: center;
    display: block;
    box-sizing: border-box;
    grid-template-rows: auto 1fr;
    border-radius: 0.25rem;
    box-shadow: var(--light-shadow);
    transition: all 0.3s linear;
}

.course:hover {
  cursor: pointer;
  padding: 1rem;
  box-shadow: var(--dark-shadow);
}


.unipage-header {
    display: flex;
    box-shadow: var(--light-shadow);
    background-color: var(--clr-white);
    flex-wrap: wrap;
    padding: 10px;
    flex-flow: column;

}
.title {
    align-items: left;
    justify-content: center;
    text-transform: none;
    margin: 10px;
    padding: 10px;
    color: var(--clr-primary-2);
}
.unipage-img {
    justify-content: center;
    box-sizing: border-box;
    /* display: flex; */
    border-radius: 0.25rem;
    box-shadow: var(--light-shadow);
    align-items: right;
    margin: 7rem auto;
    transition: all 0.3s linear;
  }

  .unipage-img:hover
 {
  cursor: pointer;
  background: var(--clr-grey-9);
  box-shadow: var(--dark-shadow);
}

  .unipage-img img {
    height: auto;
    width: 100%;
  }

  .unipage-footer{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   padding: 10px;
   margin: 2rem;

  }
  .unipage-footer span {
    line-height: 50px;
  }

  .unipage-footer p, ul {
    line-height: 1.5rem;
    color: var(--clr-primary-2);
  }
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--clr-white);
}

.search-container input{
  margin: 20px;
  width: 300px;
  height: 40px;
  border: 1px solid var(--clr-primary-4);
  box-shadow: var(--light-shadow);
  font-size: 1rem;
}

  

@media only screen and (max-width: 768px) {
    .courses-container {
      display: grid;
      grid-template-columns: 1fr;
      padding: 1em;
      grid-row-gap: 100px;
    }
    .unipage-img {
      display: flex;
      flex-wrap: wrap;
    }

  }

  