.faq {

    @media screen and (min-width: 1008px){
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--background-1);
    // box-shadow: var(--light-shadow);
    }



    &_title {
        margin-top: 5rem;
        text-align: center;


        @media screen and (max-width: 800px) {
            margin: 0;
            justify-content: center;
         }

        h2{
            justify-content: center;
            background-color: var(--clr-primary-9);
            padding: 1rem;
            box-shadow: var(--light-shadow);
        }
        

    }

    &_container {
        // border: solid red;
        display: grid;
        background-color: var(--background-1);
        // align-content: center;
        grid-template-columns: 25rem 25rem;
        justify-content: center;
        justify-items: center;
        column-gap: 2rem;
        // margin-left: 20rem;
        margin-top: 5rem;
        // margin-right: auto;
        margin-bottom: 10rem;

    

         @media screen and (max-width: 800px) {
            grid-template-columns: 1fr;
            margin: 1rem;
            justify-content: center;
         }


        
    }

    &_question_container{
    // max-width: 960px;
    margin: 1rem 0;
    border-top: 1px solid rgb(165, 165, 165);
    border-bottom: 1px solid rgb(165, 165, 165);
    width: 25rem;
    position: relative;
    // border: solid red;


    @media screen and (max-width: 800px) {
        margin: 1rem;
     }

    &_icon {
        position:absolute; top:0; right:-10;
        margin-top: 2rem;
    }
    

    
    

    }


    &_question{
        padding-left: 1.5rem;
        padding-top: 2rem;
        padding-bottom: 1rem;

        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }

    }


}