.favourites__page__container {
    margin-top: 0.05rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: var(--clr-white);
}

.favourites__counter {
    display: flex;
    justify-content: center;
    color: var(--clr-primary-3);
    align-items: center;
    font-size: 40px;
    background-color: var(--clr-white);
    box-shadow: var(--light-shadow);
}